@font-face {
  font-family: 'Futura-pt';
  src: url("fonts/FuturaStd-Medium.eot");
  src: url("fonts/FuturaStd-Medium.woff") format("woff"), url("fonts/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaStd-Medium.ttf") format("truetype"), url("fonts/FuturaStd-Medium.svg#futura-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-pt';
  src: url("fonts/FuturaStd-Bold.eot");
  src: url("fonts/FuturaStd-Bold.woff") format("woff"), url("fonts/FuturaStd-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaStd-Bold.ttf") format("truetype"), url("fonts/FuturaStd-Bold.svg#futura-bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'futura-heavy';
  src: url("fonts/futurastd-heavy.eot");
  src: url("fonts/futurastd-heavy.woff") format("woff"), url("fonts/futurastd-heavy.eot?#iefix") format("embedded-opentype"), url("fonts/futurastd-heavy.ttf") format("truetype"), url("fonts/futurastd-heavy.svg#futura-heavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

.d-nuevo-vehiculo {
  min-height: ~"calc(100vh - 128px)";
  background-color: #E6E6E6;
  .cnt-bg-white {
    background-color: #FFF;
    border-bottom: 8px solid #000;
    padding-bottom: 40px;
  }
  .cnt-bg-grey {
    background-color: #E6E6E6;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .header {
    padding: 60px 0;
    @media ( max-width: 767px ) {
      padding: 20px 0;
      height: auto;
    }
    .container {
      position: relative;
    }
    .ilustracion {
      position: absolute;
      top: 0;
      right: 0;
      width: 164px;
      @media ( max-width: 767px ) {
        width: 80px;
        height: 80px;
        right: 15px;
      }
      img {
        width: 100%;
      }
    }
  }
  .cnt-title-page {
    max-width: ~"calc(100% - 164px)";
    @media ( max-width: 767px ) {
      max-width: 100%;
    }
    .title {
      font-family: "Futura-pt";
      font-size: 40px;
      font-weight: bold;
      color: #181717;
      line-height: 60px;
      padding: 0;
      @media ( max-width: 767px ) {
        font-size: 24px;
        line-height: 30px;
      }
    }
    .subtitle {
      font-family: Tahoma, arial, helvetica;
      font-size: 16px;
      line-height: 19px;
      color: #181717;
      padding: 10px 0 0 0;
    }
  }
  .cnt-title-step {
    margin-bottom: 60px;
    @media ( max-width: 767px ) {
      margin-bottom: 20px;
    }
    .title-step {
      display: inline-block;
      font-family: "Futura-pt";
      font-size: 25px;
      font-weight: bold;
      color: #A9A7A8;
      line-height: 34px;
      padding-bottom: 0;
      @media ( max-width: 767px ) {
        display: block;
      }
      &.actual {
        color: #181717;
      }
      &+.title-step {
        margin-left: 32px;
        @media ( max-width: 767px ) {
          margin-left: 0;
        }
      }
    }
  }
  .cnt-form {
    margin-bottom: 115px;
    p {
      font-family: Tahoma, arial, helvetica;
      font-size: 18px;
      color: #181717;
      padding-bottom: 30px;
      &:last-child {
        margin-bottom: 25px;
      }
    }
    .form-group {
      label {
        margin-bottom: 10px;
      }
      .ico-info {
        width: 21px;
        height: 21px;
        position: relative;
        bottom: 3px;
        margin-left: 7px;
      }
      .form-control {
        background-color: #FFF;
        font-family: Tahoma, arial, helvetica;
        font-size: 16px;
        &.js-datepicker {
          background-image: url(../img/ico-calendar.png);
          background-repeat: no-repeat;
          background-position: right 10px center;
        }
      }
      .error-msg {
        display: none;
      }
      &.has-error {
        .form-control {
          border: 1px solid #FF0000;
          box-shadow: inset 1px 1px 7px 0 rgba(230,103,95,0.50)!important;
          color: #000;
          &.js-datepicker{
            background-image: url(../img/ico-calendar-error.png);
          }
        }
        .error-msg {
          display: block;
          padding: 13px 0 0 10px;
          font-family: Tahoma, arial, helvetica;
          font-size: 14px;
          line-height: 17px;
          color: #FF0000;
        }
      }
    }
    .btn.btn-black {
      margin-top: 30px;
      height: 57px;
      position: relative;
      border: 0;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #D8D8D8;
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
      }
    }
  }
  .lopd-message {
    font-family: Tahoma, arial, helvetica;
    font-size: 12px;
    color: #181717;
  }
  .cnt-info {
    background-color: #FFF;
    padding: 30px;
    margin-bottom: 40px;
    p {
      max-width: 850px;
      font-family: Tahoma, arial, helvetica;
      font-size: 18px;
      line-height: 25px;
      color: #181717;
      &:last-child {
        padding-bottom: 0;
      }
      .error {
        color: #D9655F;
      }
    }
  }
  .tooltip {
    &.right {
      padding-left: 10px;
      .tooltip-arrow {
        border-right-color: #CCCCCC;
        border-width: 10px 10px 10px 0;
        margin-top: -10px;
        left: 0px;
        &:before {
          content: '';
          display: block;
          border-color: transparent;
          border-right-color: #F6F6F6;
          border-style: solid;
          border-width: 10px 10px 10px 0;
          margin-top: -10px;
          width: 0;
          height: 0;
          position: absolute;
          left: 1px;
          top: 0;
        }
      }
    }
    &.in {
      opacity: 1;
    }
    .tooltip-inner {
      background-color: #FFF;
      border: 1px solid #CCCCCC;
      border-radius: 0;
      padding: 20px;
      max-width: 230px;


      font-family: Tahoma, arial, helvetica;
      font-size: 14px;
      line-height: 18px;
      color: #181717;
      text-align: left;
    }
  }
  .hightlight {
    padding: 0 10px;
    &.yellow {
      background-color: #F5D777;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: normal;
    color: #B1B1B1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-weight: normal;
    color: #B1B1B1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-weight: normal;
    color: #B1B1B1;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-weight: normal;
    color: #B1B1B1;
  }
}
.footer-new-vh {
  padding: 38px 0 48px 0;
}

.datepicker.dropdown-menu.datepicker-dropdown.datepicker-orient-left.datepicker-orient-bottom {
  padding: 22px 5px 5px 5px;
  margin-top: 35px;
  table {
    thead {
      th.prev,
      th.next {
        background-size: 14px;
      }
    }
    tr {
      td {
        padding: 11px 10px;
        font-size: 11px;
        &.disabled,
        &.old {
          color: #CCCCCC;
          pointer-events: none;
        }
      }
    }
  }
  .datepicker-days {
    .table-condensed {
      width: 265px;
    }
  }
  &:before {
    left: 27px;
  }
  &:after {
    left: 28px;
  }
}