@import "imports/fonts64.less";

@font-face {
  font-family: 'Fuente de ejemplo, reemplazar por fuente real';
  src: url('../fonts/icomoon.eot&v=@{adnVersion}'); /* IE9 Compat Modes */
  src: url('../fonts/icomoon.eot?#iefix&v=@{adnVersion}') format('embedded-opentype'), /* IE6-IE8 */
       url(@icomoon) format('woff'), /* Modern Browsers */
       url('../fonts/icomoon.ttf&v=@{adnVersion}')  format('truetype'); /* Safari, Android, iOS */
  	font-weight: normal;
  	font-style: normal;
}
