.icon-svg-car-broken { background-image: url('ie8-icon/car-broken.png'); background-repeat: no-repeat; }

.icon-svg-car { background-image: url('ie8-icon/car.png'); background-repeat: no-repeat; }

.icon-svg-club { background-image: url('ie8-icon/club.png'); background-repeat: no-repeat; }

.icon-svg-twitter { background-image: url('ie8-icon/twitter.png'); background-repeat: no-repeat; }

